body {
    height: 100vh;
    background: url("images/walp-all.jpg") no-repeat center;
}

h3 {
    color: #777777;
}
#trainings {
    margin-left: 400px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#trainings th {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #262626;
    color: #ffffff;
    text-align: left;
}

#trainings td, #trainings th {
    border: 1px solid #ddd;
    padding: 12px;
}

#trainings tr:nth-child(even) {
    background-color: #dddddd;
}

#trainings tr:hover {
    background-color: #f2f2f2;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

#myinput {
    margin: 120px;
}